*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.logo{
    height: 180px;
    width: 180px;
    margin-top: 20px;
}

.headerlogo{
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgba(73, 187, 221, 0.8);
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(73, 187, 221, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 85%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 24px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    padding: 10px 12px;
    border-radius: 3px;
}

.nav-links li a:hover{
    color: rgb(0, 0, 0);
    background: #43A5DC;
    border-radius: 20px;
}

.header{
    height: 225px;
}

.contact-txt{
    font-size: 24px;
    padding: 50px;
}

.contact-txt p{
    padding-top: 40px;
}

.contact-form{
    background: aliceblue;
}

form{
    padding: 50px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label{
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group input {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    color: rgb(83, 83, 83);
    margin-bottom: 5px;
}

input, textarea {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

textarea::-webkit-scrollbar {
    width: 4px;
}


.error {
    color: red;
}

button{
    padding: 10px;
    font-size: 24px;
    background: #49bbdd;
    border: 1px solid rgb(26, 153, 204);
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #43A5DC;
    border: 1px solid rgb(26, 153, 204);;
    color: rgb(255, 255, 255);
}

.complete{
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 480px){
    .logo{
        height: 90px;
        width: 90px;
        margin-top: 20px;
    }

    .nav-links{
        width: 100%;
        margin: 0px;
    }

    .nav-links a{
        font-size: 12px;
        letter-spacing: 0px;
    }

    .contact-txt{
        font-size: 14px;
        padding: 50px;
    }
    
    .form-group label{
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .form-group input {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        color: rgb(83, 83, 83);
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 1px solid black;
        font-size: 14px;
    }

}